@import url(./destyle.scss);

img {
  width: 100%;
  vertical-align: bottom;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.verticalLine {
  position: absolute;
  height: 100vh;
  left: 50%;
  border: 1px dotted silver;
  z-index: -1;
}

.horizontalLine {
  position: absolute;
  width: 100vw;
  top: 50%;
  border: 1px dotted silver;
  z-index: -1;
}

@mixin imgSettings($top, $left, $width, $z-index){
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  z-index: $z-index;
  transform: translate(-50%, -50%);
}

.city {
  @include imgSettings(50%, 50%, 40vw, 3);
}
.drone {
  @include imgSettings(35%, 65%, 6vw, 2);
}
.online {
  @include imgSettings(25%, 57%, 3vw, 1);
}
.money {
  @include imgSettings(30%, 42%, 5vw, 4);
}
.financial {
  @include imgSettings(77%, 57%, 8vw, 9);
}
.vr {
  @include imgSettings(65%, 40%, 17vw, 10);
}
.mobile {
  @include imgSettings(57%, 57%, 10vw, 7);
}
.error {
  @include imgSettings(67%, 70%, 6vw, 8);
}
.calender {
  @include imgSettings(47%, 75%, 4vw, 9);
}
.social {
  @include imgSettings(50%, 27%, 7vw, 5);
}

