@import url(./destyle.scss);

img {
  width: 100%;
  vertical-align: bottom;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.verticalLine {
  position: absolute;
  height: 100vh;
  left: 50%;
  border: 1px dotted silver;
  z-index: -1;
}

.horizontalLine {
  position: absolute;
  width: 100vw;
  top: 50%;
  border: 1px dotted silver;
  z-index: -1;
}

// .circle1 {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 10vw;
//   height: 10vw;
//   background-color: rgba(0,0,0,0.8);
//   border-radius: 50%;
//   z-index: 1;
//   transform: translate(-50%, -50%);
// }

@mixin figure($top, $left, $width, $height, $color, $z-index, $radius){
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  background-color: $color;
  opacity: 1;
  z-index: $z-index;
  border-radius: $radius;
  transform: translate(-50%, -50%);
}

@mixin png($top, $left, $width, $z-index){
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  z-index: $z-index;
  transform: translate(-50%, -50%);
}

.object {
  &1 {
    @include png(50%, 50%, 40vw, 1);
  }
  &2 {
    @include png(43%, 70%, 5vw, 2);
  }
  &3 {
    @include png(55%, 65%, 4vw, 3);
  }
  &4 {
    @include png(45%, 34%, 7vw, 4);
  }
  &5 {
    @include png(67%, 53%, 8vw, 9);
  }
  &6 {
    @include png(63%, 43%, 15vw, 10);
  }
  &7 {
    @include png(57%, 57%, 11vw, 7);
  }
  &8 {
    @include png(75%, 58%, 8vw, 8);
  }
  &9 {
    @include png(62%, 68%, 5vw, 9);
  }
  &10 {
    @include png(60%, 30%, 8vw, 5);
  }
}